@media (max-width: 600px) {
	h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 1rem;
	}
	#inicio {
		align-items: flex-start;
		padding: 0;
	}

	.inicio_img {
		margin-top: 5rem;
	}

	#inicio .inicio_text {
		width: auto;
	}

	.inicio_img img {
		width: 200px;
	}

	.habilidades_habilidad-tecnologia h2 {
		font-size: 2rem;
	}
}
